<html><head><meta charset='utf-8'><meta name='viewport' content='width=device-width, initial-scale=1'>
<meta name='applicable-device' content='pc'><meta name='keywords' content='电脑,电脑讲解,电脑技术,编程,电脑故障维修Django模板语言中的Filters的使用方法' />
<script src='../../highlight/highlight.pack.js'></script>
<link rel='stylesheet' type='text/css' href='../../highlight/styles/monokai.css'/>

<link rel='stylesheet' href='../../fenxiang/dist/css/share.min.css'>
<script src='../../fenxiang/src/js/social-share.js'></script>
<script src='../../fenxiang/src/js/qrcode.js'></script>

</head><body><script>hljs.initHighlightingOnLoad();</script><script>
var system ={};  
var p = navigator.platform;       
system.win = p.indexOf('Win') == 0;  
system.mac = p.indexOf('Mac') == 0;  
system.x11 = (p == 'X11') || (p.indexOf('Linux') == 0);     
if(system.win||system.mac||system.xll){
document.write("<link href='../css/3.css' rel='stylesheet' type='text/css'>");}else{ document.write("<link href='../css/3wap.css' rel='stylesheet' type='text/css'>");}</script><script src='../../js/3.js'></script><div class='div2'><div class='heading_nav'><ul><div><li><a href='../../index.html'>首页</a></li>
</div><div onclick='hidden1()' >分享</div>
</ul></div></div>
<div id='heading_nav2'> 
<li class='row' >
<div class='social-share' data-mode='prepend'><a href='javascript:' class='social-share-icon icon-heart'></a></div></li></div><script charset='utf-8' src='../../3/js/hengfu.js'></script><script charset='utf-8' src='../../3/js/hengfu2.js'></script><hr><div class='div1'><div class='biaoti'><center>Django模板语言中的Filters的使用方法</center></div><div class='banquan'>原文出处:本文由博客园博主我是渣渣聪提供。<br/>
原文连接:https://www.cnblogs.com/missdx/p/11213441.html</div><br>
    <p>　　Filters可以称为过滤器。下面我们简单介绍是如何使用他的。</p>
<p>　　<strong>Filters的语法：&nbsp;{{ value|filter_name:参数 }}</strong></p>
<p><strong>　　</strong>Django大概提供了六十个内置过滤器，下面我们简单介绍几个。</p>
<p>　　首先，基本操作都知道，<strong>urls.py</strong>中：</p>
<div class="cnblogs_code">
<pre><code><span style="color: #008080;">1</span> <span style="color: #0000ff;">from</span> app01 <span style="color: #0000ff;">import</span><span style="color: #000000;"> views
</span><span style="color: #008080;">2</span> 
<span style="color: #008080;">3</span> urlpatterns =<span style="color: #000000;"> [
</span><span style="color: #008080;">4</span>     path(<span style="color: #800000;">'</span><span style="color: #800000;">demo/</span><span style="color: #800000;">'</span><span style="color: #000000;">, views.demo),
</span><span style="color: #008080;">5</span> ]</pre>
</div>
<p>　　然后，<strong>views.py</strong>中：</p>
<div class="cnblogs_code">
<pre><code><span style="color: #008080;">1</span> <span style="color: #0000ff;">def</span><span style="color: #000000;"> demo(request):
</span><span style="color: #008080;">2</span>     <span style="color: #0000ff;">pass</span></pre>
</div>
<p>　　pass需要我们自己替换。</p>
<p>　　另外创建一个demo.html显示结果。</p>
<h1>length</h1>
<p>　　返回值的长度，作用于字符串和列表。</p>
<div class="cnblogs_code" onclick="cnblogs_code_show('f1807a60-f5a2-44c0-84b1-f047a86b0e02')"><img id="code_img_closed_f1807a60-f5a2-44c0-84b1-f047a86b0e02" class="code_img_closed" src="./images/Django模板语言中的Filters的使用方法0.png" alt="" /><img id="code_img_opened_f1807a60-f5a2-44c0-84b1-f047a86b0e02" class="code_img_opened" style="display: none;" onclick="cnblogs_code_hide('f1807a60-f5a2-44c0-84b1-f047a86b0e02',event)" src="./images/Django模板语言中的Filters的使用方法1.png" alt="" />
<div id="cnblogs_code_open_f1807a60-f5a2-44c0-84b1-f047a86b0e02" class="cnblogs_code_hide">
<pre><code><span style="color: #008080;">1</span> <span style="color: #0000ff;">def</span><span style="color: #000000;"> demo(request):
</span><span style="color: #008080;">2</span>     name = <span style="color: #800000;">'</span><span style="color: #800000;">徐雪</span><span style="color: #800000;">'</span>
<span style="color: #008080;">3</span>     <span style="color: #0000ff;">return</span><span style="color: #000000;"> render(request,
</span><span style="color: #008080;">4</span>                   <span style="color: #800000;">'</span><span style="color: #800000;">demo.html</span><span style="color: #800000;">'</span><span style="color: #000000;">,
</span><span style="color: #008080;">5</span> <span style="color: #000000;">                  {
</span><span style="color: #008080;">6</span>                       <span style="color: #800000;">'</span><span style="color: #800000;">name</span><span style="color: #800000;">'</span><span style="color: #000000;">:name
</span><span style="color: #008080;">7</span>                   })</pre>
</div>
<span class="cnblogs_code_collapse">view.py</span></div>
<div class="cnblogs_code" onclick="cnblogs_code_show('7e1beb22-8886-4fc3-a4be-8ffb1cacc7e8')"><img id="code_img_closed_7e1beb22-8886-4fc3-a4be-8ffb1cacc7e8" class="code_img_closed" src="./images/Django模板语言中的Filters的使用方法0.png" alt="" /><img id="code_img_opened_7e1beb22-8886-4fc3-a4be-8ffb1cacc7e8" class="code_img_opened" style="display: none;" onclick="cnblogs_code_hide('7e1beb22-8886-4fc3-a4be-8ffb1cacc7e8',event)" src="./images/Django模板语言中的Filters的使用方法1.png" alt="" />
<div id="cnblogs_code_open_7e1beb22-8886-4fc3-a4be-8ffb1cacc7e8" class="cnblogs_code_hide">
<pre><code><span style="color: #008080;">1</span> &lt;body&gt;
<span style="color: #008080;">2</span>     {{ name }}-{{ name|<span style="color: #000000;">length }}
</span><span style="color: #008080;">3</span> &lt;/body&gt;</pre>
</div>
<span class="cnblogs_code_collapse">demo.html</span></div>
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="./images/Django模板语言中的Filters的使用方法4.png" alt="" /></p>
<h1>default</h1>
<p>　　如果一个变量是false或者为空，就是用默认值，否则使用变量的值。</p>
<div class="cnblogs_code" onclick="cnblogs_code_show('a3951081-ecbf-4c50-aae2-5c1518019ace')"><img id="code_img_closed_a3951081-ecbf-4c50-aae2-5c1518019ace" class="code_img_closed" src="./images/Django模板语言中的Filters的使用方法0.png" alt="" /><img id="code_img_opened_a3951081-ecbf-4c50-aae2-5c1518019ace" class="code_img_opened" style="display: none;" onclick="cnblogs_code_hide('a3951081-ecbf-4c50-aae2-5c1518019ace',event)" src="./images/Django模板语言中的Filters的使用方法1.png" alt="" />
<div id="cnblogs_code_open_a3951081-ecbf-4c50-aae2-5c1518019ace" class="cnblogs_code_hide">
<pre><code><span style="color: #008080;">1</span> &lt;body&gt;
<span style="color: #008080;">2</span>     {{ bucunzai|default:<span style="color: #800000;">'</span><span style="color: #800000;">不存在</span><span style="color: #800000;">'</span><span style="color: #000000;"> }}
</span><span style="color: #008080;">3</span> &lt;/body&gt;</pre>
</div>
<span class="cnblogs_code_collapse">demo.html</span></div>
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="./images/Django模板语言中的Filters的使用方法7.png" alt="" /></p>
<h1>filesizeformat</h1>
<p>　　将值格式化为一个&ldquo;人类可读&rdquo;的文件尺寸</p>
<div class="cnblogs_code" onclick="cnblogs_code_show('1d4c411b-5779-4659-85cc-71615129cde7')"><img id="code_img_closed_1d4c411b-5779-4659-85cc-71615129cde7" class="code_img_closed" src="./images/Django模板语言中的Filters的使用方法0.png" alt="" /><img id="code_img_opened_1d4c411b-5779-4659-85cc-71615129cde7" class="code_img_opened" style="display: none;" onclick="cnblogs_code_hide('1d4c411b-5779-4659-85cc-71615129cde7',event)" src="./images/Django模板语言中的Filters的使用方法1.png" alt="" />
<div id="cnblogs_code_open_1d4c411b-5779-4659-85cc-71615129cde7" class="cnblogs_code_hide">
<pre><code><span style="color: #008080;">1</span> <span style="color: #0000ff;">def</span><span style="color: #000000;"> demo(request):
</span><span style="color: #008080;">2</span>     file_size = 123456789
<span style="color: #008080;">3</span>     <span style="color: #0000ff;">return</span><span style="color: #000000;"> render(request,
</span><span style="color: #008080;">4</span>                   <span style="color: #800000;">'</span><span style="color: #800000;">demo.html</span><span style="color: #800000;">'</span><span style="color: #000000;">,
</span><span style="color: #008080;">5</span> <span style="color: #000000;">                  {
</span><span style="color: #008080;">6</span>                       <span style="color: #800000;">'</span><span style="color: #800000;">file_size</span><span style="color: #800000;">'</span><span style="color: #000000;">:file_size
</span><span style="color: #008080;">7</span>                   })</pre>
</div>
<span class="cnblogs_code_collapse">views.py</span></div>
<div class="cnblogs_code" onclick="cnblogs_code_show('b4d58ce9-d87c-40bf-8d99-d40514b5d21a')"><img id="code_img_closed_b4d58ce9-d87c-40bf-8d99-d40514b5d21a" class="code_img_closed" src="./images/Django模板语言中的Filters的使用方法0.png" alt="" /><img id="code_img_opened_b4d58ce9-d87c-40bf-8d99-d40514b5d21a" class="code_img_opened" style="display: none;" onclick="cnblogs_code_hide('b4d58ce9-d87c-40bf-8d99-d40514b5d21a',event)" src="./images/Django模板语言中的Filters的使用方法1.png" alt="" />
<div id="cnblogs_code_open_b4d58ce9-d87c-40bf-8d99-d40514b5d21a" class="cnblogs_code_hide">
<pre><code><span style="color: #008080;">1</span> &lt;body&gt;
<span style="color: #008080;">2</span>     &lt;p&gt;
<span style="color: #008080;">3</span> <span style="color: #000000;">        文件大小：
</span><span style="color: #008080;">4</span>         {{ file_size|<span style="color: #000000;">filesizeformat }}
</span><span style="color: #008080;">5</span>     &lt;/p&gt;
<span style="color: #008080;">6</span> &lt;/body&gt;</pre>
</div>
<span class="cnblogs_code_collapse">demo.html</span></div>
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="./images/Django模板语言中的Filters的使用方法12.png" alt="" /></p>
<h1>切片</h1>
<p>　　</p>
<div class="cnblogs_code" onclick="cnblogs_code_show('1b7a80dc-3940-4dd5-8dbf-aefe5efb8ccf')"><img id="code_img_closed_1b7a80dc-3940-4dd5-8dbf-aefe5efb8ccf" class="code_img_closed" src="./images/Django模板语言中的Filters的使用方法0.png" alt="" /><img id="code_img_opened_1b7a80dc-3940-4dd5-8dbf-aefe5efb8ccf" class="code_img_opened" style="display: none;" onclick="cnblogs_code_hide('1b7a80dc-3940-4dd5-8dbf-aefe5efb8ccf',event)" src="./images/Django模板语言中的Filters的使用方法1.png" alt="" />
<div id="cnblogs_code_open_1b7a80dc-3940-4dd5-8dbf-aefe5efb8ccf" class="cnblogs_code_hide">
<pre><code><span style="color: #008080;">1</span> <span style="color: #0000ff;">def</span><span style="color: #000000;"> demo(request):
</span><span style="color: #008080;">2</span>     name_list = [<span style="color: #800000;">'</span><span style="color: #800000;">张三</span><span style="color: #800000;">'</span>,<span style="color: #800000;">'</span><span style="color: #800000;">李四</span><span style="color: #800000;">'</span>,<span style="color: #800000;">'</span><span style="color: #800000;">王五</span><span style="color: #800000;">'</span>,<span style="color: #800000;">'</span><span style="color: #800000;">王二麻子</span><span style="color: #800000;">'</span><span style="color: #000000;">]
</span><span style="color: #008080;">3</span>     <span style="color: #0000ff;">return</span><span style="color: #000000;"> render(request,
</span><span style="color: #008080;">4</span>                   <span style="color: #800000;">'</span><span style="color: #800000;">demo.html</span><span style="color: #800000;">'</span><span style="color: #000000;">,
</span><span style="color: #008080;">5</span> <span style="color: #000000;">                  {
</span><span style="color: #008080;">6</span>                       <span style="color: #800000;">'</span><span style="color: #800000;">name_list</span><span style="color: #800000;">'</span><span style="color: #000000;">:name_list
</span><span style="color: #008080;">7</span>                   })</pre>
</div>
<span class="cnblogs_code_collapse">views.py</span></div>
<div class="cnblogs_code" onclick="cnblogs_code_show('949c6119-7919-491f-94fb-dbc5d412dd21')"><img id="code_img_closed_949c6119-7919-491f-94fb-dbc5d412dd21" class="code_img_closed" src="./images/Django模板语言中的Filters的使用方法0.png" alt="" /><img id="code_img_opened_949c6119-7919-491f-94fb-dbc5d412dd21" class="code_img_opened" style="display: none;" onclick="cnblogs_code_hide('949c6119-7919-491f-94fb-dbc5d412dd21',event)" src="./images/Django模板语言中的Filters的使用方法1.png" alt="" />
<div id="cnblogs_code_open_949c6119-7919-491f-94fb-dbc5d412dd21" class="cnblogs_code_hide">
<pre><code><span style="color: #008080;">1</span> &lt;p&gt;
<span style="color: #008080;">2</span> <span style="color: #000000;">    切片前：
</span><span style="color: #008080;">3</span>     {{ name_list }}&lt;br&gt;
<span style="color: #008080;">4</span> <span style="color: #000000;">    切片后：
</span><span style="color: #008080;">5</span>     {{ name_list|slice:<span style="color: #800000;">'</span><span style="color: #800000;">1:3</span><span style="color: #800000;">'</span><span style="color: #000000;"> }}
</span><span style="color: #008080;">6</span> &lt;/p&gt;</pre>
</div>
<span class="cnblogs_code_collapse">demo.html</span></div>
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="./images/Django模板语言中的Filters的使用方法17.png" alt="" /></p>
<h1>date</h1>
<p>　　时间格式化</p>
<div class="cnblogs_code" onclick="cnblogs_code_show('9f5caf96-de30-489f-acd4-6b23a9f15889')"><img id="code_img_closed_9f5caf96-de30-489f-acd4-6b23a9f15889" class="code_img_closed" src="./images/Django模板语言中的Filters的使用方法0.png" alt="" /><img id="code_img_opened_9f5caf96-de30-489f-acd4-6b23a9f15889" class="code_img_opened" style="display: none;" onclick="cnblogs_code_hide('9f5caf96-de30-489f-acd4-6b23a9f15889',event)" src="./images/Django模板语言中的Filters的使用方法1.png" alt="" />
<div id="cnblogs_code_open_9f5caf96-de30-489f-acd4-6b23a9f15889" class="cnblogs_code_hide">
<pre><code><span style="color: #008080;">1</span> <span style="color: #0000ff;">def</span><span style="color: #000000;"> demo(request):
</span><span style="color: #008080;">2</span>     <span style="color: #0000ff;">from</span> datetime <span style="color: #0000ff;">import</span><span style="color: #000000;"> datetime
</span><span style="color: #008080;">3</span>     now =<span style="color: #000000;"> datetime.now()
</span><span style="color: #008080;">4</span>     <span style="color: #0000ff;">return</span><span style="color: #000000;"> render(request,
</span><span style="color: #008080;">5</span>                   <span style="color: #800000;">'</span><span style="color: #800000;">demo.html</span><span style="color: #800000;">'</span><span style="color: #000000;">,
</span><span style="color: #008080;">6</span> <span style="color: #000000;">                  {
</span><span style="color: #008080;">7</span>                       <span style="color: #800000;">'</span><span style="color: #800000;">now</span><span style="color: #800000;">'</span><span style="color: #000000;">:now
</span><span style="color: #008080;">8</span>                   })</pre>
</div>
<span class="cnblogs_code_collapse">views.py</span></div>
<div class="cnblogs_code" onclick="cnblogs_code_show('5f434ac6-c1d6-4149-90e6-08180f78209c')"><img id="code_img_closed_5f434ac6-c1d6-4149-90e6-08180f78209c" class="code_img_closed" src="./images/Django模板语言中的Filters的使用方法0.png" alt="" /><img id="code_img_opened_5f434ac6-c1d6-4149-90e6-08180f78209c" class="code_img_opened" style="display: none;" onclick="cnblogs_code_hide('5f434ac6-c1d6-4149-90e6-08180f78209c',event)" src="./images/Django模板语言中的Filters的使用方法1.png" alt="" />
<div id="cnblogs_code_open_5f434ac6-c1d6-4149-90e6-08180f78209c" class="cnblogs_code_hide">
<pre><code><span style="color: #008080;">1</span> &lt;p&gt;
<span style="color: #008080;">2</span> <span style="color: #000000;">    格式化之前：
</span><span style="color: #008080;">3</span>     {{ now }}&lt;br&gt;
<span style="color: #008080;">4</span> <span style="color: #000000;">    时间格式化：
</span><span style="color: #008080;">5</span>     {{ now|date:<span style="color: #800000;">'</span><span style="color: #800000;">Y-m-d H:i:s</span><span style="color: #800000;">'</span><span style="color: #000000;"> }}
</span><span style="color: #008080;">6</span> &lt;/p&gt;</pre>
</div>
<span class="cnblogs_code_collapse">demo.html</span></div>
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="./images/Django模板语言中的Filters的使用方法22.png" alt="" /></p>
<h1>safe</h1>
<p>　　Django的模板中会对HTML标签和JS等语法标签进行自动转义，原因显而易见，这样是为了安全。但是有的时候我们可能不希望这些HTML元素被转义，比如我们做一个内容管理系统，后台添加的文章中是经过修饰的，这些修饰可能是通过一个类似于FCKeditor编辑加注了HTML修饰符的文本，如果自动转义的话显示的就是保护HTML标签的源文件。为了在Django中关闭HTML的自动转义有两种方式，如果是一个单独的变量我们可以通过过滤器&ldquo;|safe&rdquo;的方式告诉Django这段代码是安全的不必转义。</p>
<div class="cnblogs_code" onclick="cnblogs_code_show('977057c6-1de6-4f3b-a4a8-8372c1c2f645')"><img id="code_img_closed_977057c6-1de6-4f3b-a4a8-8372c1c2f645" class="code_img_closed" src="./images/Django模板语言中的Filters的使用方法0.png" alt="" /><img id="code_img_opened_977057c6-1de6-4f3b-a4a8-8372c1c2f645" class="code_img_opened" style="display: none;" onclick="cnblogs_code_hide('977057c6-1de6-4f3b-a4a8-8372c1c2f645',event)" src="./images/Django模板语言中的Filters的使用方法1.png" alt="" />
<div id="cnblogs_code_open_977057c6-1de6-4f3b-a4a8-8372c1c2f645" class="cnblogs_code_hide">
<pre><code><span style="color: #008080;">1</span> <span style="color: #0000ff;">def</span><span style="color: #000000;"> demo(request):
</span><span style="color: #008080;">2</span>     safe = <span style="color: #800000;">"</span><span style="color: #800000;">&lt;a href='https://www.baidu.com'&gt;safe标签&lt;/a&gt;</span><span style="color: #800000;">"</span>
<span style="color: #008080;">3</span>     <span style="color: #0000ff;">return</span><span style="color: #000000;"> render(request,
</span><span style="color: #008080;">4</span>                   <span style="color: #800000;">'</span><span style="color: #800000;">demo.html</span><span style="color: #800000;">'</span><span style="color: #000000;">,
</span><span style="color: #008080;">5</span> <span style="color: #000000;">                  {
</span><span style="color: #008080;">6</span>                       <span style="color: #800000;">'</span><span style="color: #800000;">safe</span><span style="color: #800000;">'</span><span style="color: #000000;">:safe
</span><span style="color: #008080;">7</span>                   })</pre>
</div>
<span class="cnblogs_code_collapse">views.py</span></div>
<div class="cnblogs_code" onclick="cnblogs_code_show('42679606-7bfa-4b5d-a61b-d0d25549abc4')"><img id="code_img_closed_42679606-7bfa-4b5d-a61b-d0d25549abc4" class="code_img_closed" src="./images/Django模板语言中的Filters的使用方法0.png" alt="" /><img id="code_img_opened_42679606-7bfa-4b5d-a61b-d0d25549abc4" class="code_img_opened" style="display: none;" onclick="cnblogs_code_hide('42679606-7bfa-4b5d-a61b-d0d25549abc4',event)" src="./images/Django模板语言中的Filters的使用方法1.png" alt="" />
<div id="cnblogs_code_open_42679606-7bfa-4b5d-a61b-d0d25549abc4" class="cnblogs_code_hide">
<pre><code><span style="color: #008080;">1</span> {{ safe|safe }}</pre>
</div>
<span class="cnblogs_code_collapse">demo.html</span></div>
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="./images/Django模板语言中的Filters的使用方法27.png" alt="" /></p>
<p>　　点击html上面的连接就会跳转。</p>
<h1 id="autoid-2-2-6"><strong>truncatechars</strong></h1>
<p><strong>　　</strong>如果字符串字符多于指定的字符数量，那么会被截断。<span class="yiyi-st">截断的字符串将以可翻译的省略号序列（&ldquo;...&rdquo;）结尾。</span></p>
<div class="cnblogs_code" onclick="cnblogs_code_show('e2964d71-9c36-4e13-bfdd-e2ff67791217')"><img id="code_img_closed_e2964d71-9c36-4e13-bfdd-e2ff67791217" class="code_img_closed" src="./images/Django模板语言中的Filters的使用方法0.png" alt="" /><img id="code_img_opened_e2964d71-9c36-4e13-bfdd-e2ff67791217" class="code_img_opened" style="display: none;" onclick="cnblogs_code_hide('e2964d71-9c36-4e13-bfdd-e2ff67791217',event)" src="./images/Django模板语言中的Filters的使用方法1.png" alt="" />
<div id="cnblogs_code_open_e2964d71-9c36-4e13-bfdd-e2ff67791217" class="cnblogs_code_hide">
<pre><code><span style="color: #008080;">1</span> <span style="color: #0000ff;">def</span><span style="color: #000000;"> demo(request):
</span><span style="color: #008080;">2</span>     text = <span style="color: #800000;">'</span><span style="color: #800000;">发的反对法士大夫打发士大夫大师傅大师傅士大夫地方都是发生的广泛的的废墟发生发射点</span><span style="color: #800000;">'</span>
<span style="color: #008080;">3</span>     <span style="color: #0000ff;">return</span><span style="color: #000000;"> render(request,
</span><span style="color: #008080;">4</span>                   <span style="color: #800000;">'</span><span style="color: #800000;">demo.html</span><span style="color: #800000;">'</span><span style="color: #000000;">,
</span><span style="color: #008080;">5</span> <span style="color: #000000;">                  {
</span><span style="color: #008080;">6</span>                       <span style="color: #800000;">'</span><span style="color: #800000;">text</span><span style="color: #800000;">'</span><span style="color: #000000;">:text
</span><span style="color: #008080;">7</span>                   })</pre>
</div>
<span class="cnblogs_code_collapse">views.py</span></div>
<div class="cnblogs_code" onclick="cnblogs_code_show('1c136941-7df9-44c5-9e26-1f4a922016c9')"><img id="code_img_closed_1c136941-7df9-44c5-9e26-1f4a922016c9" class="code_img_closed" src="./images/Django模板语言中的Filters的使用方法0.png" alt="" /><img id="code_img_opened_1c136941-7df9-44c5-9e26-1f4a922016c9" class="code_img_opened" style="display: none;" onclick="cnblogs_code_hide('1c136941-7df9-44c5-9e26-1f4a922016c9',event)" src="./images/Django模板语言中的Filters的使用方法1.png" alt="" />
<div id="cnblogs_code_open_1c136941-7df9-44c5-9e26-1f4a922016c9" class="cnblogs_code_hide">
<pre><code><span style="color: #008080;">1</span> &lt;p&gt;
<span style="color: #008080;">2</span> <span style="color: #000000;">    省略前：
</span><span style="color: #008080;">3</span>     {{ text }}&lt;br&gt;
<span style="color: #008080;">4</span> <span style="color: #000000;">    省略后：
</span><span style="color: #008080;">5</span>     {{ text|truncatechars:20<span style="color: #000000;"> }}
</span><span style="color: #008080;">6</span> &lt;/p&gt;</pre>
</div>
<span class="cnblogs_code_collapse">demo.html</span></div>
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="./images/Django模板语言中的Filters的使用方法32.png" alt="" /></p>
<h1>自定义Filters</h1>
<p>　　首先在自己的app文件夹下面创建一个Python Package，命名为templatetags。然后在这个文件夹下面新建一个py文件，我命名为myfilters.py。到这里基本工作已完成。接下来编写自己的自定义filters。</p>
<div class="cnblogs_code" onclick="cnblogs_code_show('e2d87842-28d9-4d53-8ecd-da45c285193b')"><img id="code_img_closed_e2d87842-28d9-4d53-8ecd-da45c285193b" class="code_img_closed" src="./images/Django模板语言中的Filters的使用方法0.png" alt="" /><img id="code_img_opened_e2d87842-28d9-4d53-8ecd-da45c285193b" class="code_img_opened" style="display: none;" onclick="cnblogs_code_hide('e2d87842-28d9-4d53-8ecd-da45c285193b',event)" src="./images/Django模板语言中的Filters的使用方法1.png" alt="" />
<div id="cnblogs_code_open_e2d87842-28d9-4d53-8ecd-da45c285193b" class="cnblogs_code_hide">
<pre><code><span style="color: #008080;">1</span> <span style="color: #0000ff;">from</span> django <span style="color: #0000ff;">import</span><span style="color: #000000;"> template
</span><span style="color: #008080;">2</span> register =<span style="color: #000000;"> template.Library()
</span><span style="color: #008080;">3</span> 
<span style="color: #008080;">4</span> <span style="color: #008000;">#</span><span style="color: #008000;"> 告诉django的模板语言我现在有一个自定义的filter语言，名字叫demo</span>
<span style="color: #008080;">5</span> @register.filter(name=<span style="color: #800000;">'</span><span style="color: #800000;">demo</span><span style="color: #800000;">'</span><span style="color: #000000;">)
</span><span style="color: #008080;">6</span> <span style="color: #0000ff;">def</span><span style="color: #000000;"> add_one(arg):
</span><span style="color: #008080;">7</span>     <span style="color: #0000ff;">return</span> <span style="color: #800000;">'</span><span style="color: #800000;">{} is good!</span><span style="color: #800000;">'</span>.format(arg)</pre>
</div>
<span class="cnblogs_code_collapse">myfilters.py</span></div>
<div class="cnblogs_code" onclick="cnblogs_code_show('bf725dcb-7261-465e-b800-c64bae798107')"><img id="code_img_closed_bf725dcb-7261-465e-b800-c64bae798107" class="code_img_closed" src="./images/Django模板语言中的Filters的使用方法0.png" alt="" /><img id="code_img_opened_bf725dcb-7261-465e-b800-c64bae798107" class="code_img_opened" style="display: none;" onclick="cnblogs_code_hide('bf725dcb-7261-465e-b800-c64bae798107',event)" src="./images/Django模板语言中的Filters的使用方法1.png" alt="" />
<div id="cnblogs_code_open_bf725dcb-7261-465e-b800-c64bae798107" class="cnblogs_code_hide">
<pre><code><span style="color: #008080;">1</span> {% load myfilters %<span style="color: #000000;">}
</span><span style="color: #008080;">2</span> &lt;!--name是从views.py中传过来的变量，demo是myfilter.py中的filters方法--&gt;
<span style="color: #008080;">3</span> {{ name|demo }}</pre>
</div>
<span class="cnblogs_code_collapse">demo.html</span></div>
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="./images/Django模板语言中的Filters的使用方法37.png" alt="" /></p>
<p>　　上面是传入一个值，两个值怎么办？</p>
<div class="cnblogs_code" onclick="cnblogs_code_show('2ec261e0-a94a-445d-8787-f55af0cc672a')"><img id="code_img_closed_2ec261e0-a94a-445d-8787-f55af0cc672a" class="code_img_closed" src="./images/Django模板语言中的Filters的使用方法0.png" alt="" /><img id="code_img_opened_2ec261e0-a94a-445d-8787-f55af0cc672a" class="code_img_opened" style="display: none;" onclick="cnblogs_code_hide('2ec261e0-a94a-445d-8787-f55af0cc672a',event)" src="./images/Django模板语言中的Filters的使用方法1.png" alt="" />
<div id="cnblogs_code_open_2ec261e0-a94a-445d-8787-f55af0cc672a" class="cnblogs_code_hide">
<pre><code><span style="color: #008080;"> 1</span> <span style="color: #0000ff;">from</span> django <span style="color: #0000ff;">import</span><span style="color: #000000;"> template
</span><span style="color: #008080;"> 2</span> register =<span style="color: #000000;"> template.Library()
</span><span style="color: #008080;"> 3</span> 
<span style="color: #008080;"> 4</span> <span style="color: #008000;">#</span><span style="color: #008000;"> 告诉django的模板语言我现在有一个自定义的filter语言，名字叫more</span>
<span style="color: #008080;"> 5</span> @register.filter(name=<span style="color: #800000;">'</span><span style="color: #800000;">more</span><span style="color: #800000;">'</span><span style="color: #000000;">)
</span><span style="color: #008080;"> 6</span> <span style="color: #0000ff;">def</span><span style="color: #000000;"> add_more(arg,arg1):
</span><span style="color: #008080;"> 7</span>     <span style="color: #800000;">'''</span>
<span style="color: #008080;"> 8</span> <span style="color: #800000;">    第一个参数永远是管道符前面的参数
</span><span style="color: #008080;"> 9</span> <span style="color: #800000;">    :param arg:管道符前面的变量
</span><span style="color: #008080;">10</span> <span style="color: #800000;">    :param arg1:冒号后面的变量
</span><span style="color: #008080;">11</span> <span style="color: #800000;">    :return:
</span><span style="color: #008080;">12</span>     <span style="color: #800000;">'''</span>
<span style="color: #008080;">13</span>     <span style="color: #0000ff;">return</span> <span style="color: #800000;">'</span><span style="color: #800000;">{} is {}!</span><span style="color: #800000;">'</span>.format(arg,arg1)</pre>
</div>
<span class="cnblogs_code_collapse">myfilters.py</span></div>
<div class="cnblogs_code" onclick="cnblogs_code_show('55899b5e-c10c-4ee6-b9c2-a39e10fe20d6')"><img id="code_img_closed_55899b5e-c10c-4ee6-b9c2-a39e10fe20d6" class="code_img_closed" src="./images/Django模板语言中的Filters的使用方法0.png" alt="" /><img id="code_img_opened_55899b5e-c10c-4ee6-b9c2-a39e10fe20d6" class="code_img_opened" style="display: none;" onclick="cnblogs_code_hide('55899b5e-c10c-4ee6-b9c2-a39e10fe20d6',event)" src="./images/Django模板语言中的Filters的使用方法1.png" alt="" />
<div id="cnblogs_code_open_55899b5e-c10c-4ee6-b9c2-a39e10fe20d6" class="cnblogs_code_hide">
<pre><code><span style="color: #008080;">1</span> {% load myfilters %<span style="color: #000000;">}
</span><span style="color: #008080;">2</span> &lt;!--name是从views.py中传过来的变量，more是myfilter.py中的filters方法--&gt;
<span style="color: #008080;">3</span> {{ name|more:<span style="color: #800000;">'</span><span style="color: #800000;">美丽的。</span><span style="color: #800000;">'</span> }}</pre>
</div>
<span class="cnblogs_code_collapse">demo.html</span></div>
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="./images/Django模板语言中的Filters的使用方法42.png" alt="" /></p>
<p>&nbsp;</p>
</div>
</div><hr><script charset='utf-8' src='../../js/sming.js'></script></body></html>