<html><head><meta charset='utf-8'><meta name='viewport' content='width=device-width, initial-scale=1'>
<meta name='applicable-device' content='pc'><meta name='keywords' content='电脑,电脑讲解,电脑技术,编程,电脑故障维修母版和继承的使用以及组件的使用' />
<script src='../../highlight/highlight.pack.js'></script>
<link rel='stylesheet' type='text/css' href='../../highlight/styles/monokai.css'/>

<link rel='stylesheet' href='../../fenxiang/dist/css/share.min.css'>
<script src='../../fenxiang/src/js/social-share.js'></script>
<script src='../../fenxiang/src/js/qrcode.js'></script>

</head><body><script>hljs.initHighlightingOnLoad();</script><script>
var system ={};  
var p = navigator.platform;       
system.win = p.indexOf('Win') == 0;  
system.mac = p.indexOf('Mac') == 0;  
system.x11 = (p == 'X11') || (p.indexOf('Linux') == 0);     
if(system.win||system.mac||system.xll){
document.write("<link href='../css/3.css' rel='stylesheet' type='text/css'>");}else{ document.write("<link href='../css/3wap.css' rel='stylesheet' type='text/css'>");}</script><script src='../../js/3.js'></script><div class='div2'><div class='heading_nav'><ul><div><li><a href='../../index.html'>首页</a></li>
</div><div onclick='hidden1()' >分享</div>
</ul></div></div>
<div id='heading_nav2'> 
<li class='row' >
<div class='social-share' data-mode='prepend'><a href='javascript:' class='social-share-icon icon-heart'></a></div></li></div><script charset='utf-8' src='../../3/js/hengfu.js'></script><script charset='utf-8' src='../../3/js/hengfu2.js'></script><hr><div class='div1'><div class='biaoti'><center>母版和继承的使用以及组件的使用</center></div><div class='banquan'>原文出处:本文由博客园博主我是渣渣聪提供。<br/>
原文连接:https://www.cnblogs.com/missdx/p/11226837.html</div><br>
    <h1>母版的继承和使用　　</h1>
<p>　　如果我们在开发一个网站的过程中，可能发现网站中除了部分内容不一样外，绝大部分内容都是一致的。如果每个页面我们都去一个一个写的话，那样的工作量就太大了。所以我们要学会使用母版和继承。</p>
<p>　　首先，写一个母版，命名base.html，他代表网站中公共的部分。关键部分在13-15行。</p>
<div class="cnblogs_code">
<pre><code><span style="color: #008080;"> 1</span> &lt;!DOCTYPE html&gt;
<span style="color: #008080;"> 2</span> &lt;html lang=<span style="color: #800000;">"</span><span style="color: #800000;">en</span><span style="color: #800000;">"</span>&gt;
<span style="color: #008080;"> 3</span> &lt;head&gt;
<span style="color: #008080;"> 4</span>     &lt;meta charset=<span style="color: #800000;">"</span><span style="color: #800000;">UTF-8</span><span style="color: #800000;">"</span>&gt;
<span style="color: #008080;"> 5</span>     &lt;title&gt;母版&lt;/title&gt;
<span style="color: #008080;"> 6</span> &lt;/head&gt;
<span style="color: #008080;"> 7</span> &lt;body&gt;
<span style="color: #008080;"> 8</span> &lt;p&gt;
<span style="color: #008080;"> 9</span>     &lt;h1&gt;这是最上方&lt;/h1&gt;
<span style="color: #008080;">10</span>     &lt;hr&gt;
<span style="color: #008080;">11</span> &lt;/p&gt;
<span style="color: #008080;">12</span> &lt;P&gt;
<span style="color: #008080;">13</span>     {% block page-main %<span style="color: #000000;">}
</span><span style="color: #008080;">14</span>         {<span style="color: #008000;">#</span><span style="color: #008000;"> 母版中被替换的地方 #}</span>
<span style="color: #008080;">15</span>     {% endblock %<span style="color: #000000;">}
</span><span style="color: #008080;">16</span>     &lt;hr&gt;
<span style="color: #008080;">17</span> &lt;/P&gt;
<span style="color: #008080;">18</span> &lt;P&gt;
<span style="color: #008080;">19</span>     &lt;h1&gt;这是最下方&lt;/h1&gt;
<span style="color: #008080;">20</span> &lt;/P&gt;
<span style="color: #008080;">21</span> &lt;/body&gt;
<span style="color: #008080;">22</span> &lt;/html&gt;</pre>
</div>
<p>　　接着，新建一个替换内容base_list.html。关键部分在第2行，以及5-7行。</p>
<div class="cnblogs_code">
<pre><code><span style="color: #008080;">1</span> {<span style="color: #008000;">#</span><span style="color: #008000;"> 继承母版 #}</span>
<span style="color: #008080;">2</span> {% extends <span style="color: #800000;">'</span><span style="color: #800000;">base.html</span><span style="color: #800000;">'</span> %<span style="color: #000000;">}
</span><span style="color: #008080;">3</span> 
<span style="color: #008080;">4</span> {<span style="color: #008000;">#</span><span style="color: #008000;"> 把自己页面的内容塞到母版相应的位置 #}</span>
<span style="color: #008080;">5</span> {% block page-main %<span style="color: #000000;">}
</span><span style="color: #008080;">6</span>     &lt;h1&gt;替换掉内容&lt;/h1&gt;
<span style="color: #008080;">7</span> {% endblock %}</pre>
</div>
<p>　　效果展示图：</p>
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="./images/母版和继承的使用以及组件的使用0.png" alt="" /></p>
<p>　　母版和继承不仅仅可以对html页面内容进行替换，<em><strong>还可以对js和css进行替换。</strong></em></p>
<h1><em><strong>组件的使用</strong></em></h1>
<p>　　一般来说，每个网站都有一个公共的导航栏，这些导航栏都是母版里面的，但是有的页面没有继承母版，却也需要导航栏怎么办呢？这就需要使用组件了。也就是说我们把导航栏单独写成一个html页面，然后使用include包含它就OK了。</p>
<p>　　创建一个html页面，命名daohangtiao.html：</p>
<div class="cnblogs_code">
<pre><code><span style="color: #008080;"> 1</span> &lt;!DOCTYPE html&gt;
<span style="color: #008080;"> 2</span> &lt;html lang=<span style="color: #800000;">"</span><span style="color: #800000;">en</span><span style="color: #800000;">"</span>&gt;
<span style="color: #008080;"> 3</span> &lt;head&gt;
<span style="color: #008080;"> 4</span>     &lt;meta charset=<span style="color: #800000;">"</span><span style="color: #800000;">UTF-8</span><span style="color: #800000;">"</span>&gt;
<span style="color: #008080;"> 5</span>     &lt;title&gt;导航条&lt;/title&gt;
<span style="color: #008080;"> 6</span> &lt;/head&gt;
<span style="color: #008080;"> 7</span> &lt;body&gt;
<span style="color: #008080;"> 8</span> &lt;h1 style=<span style="color: #800000;">"</span><span style="color: #800000;">color: red</span><span style="color: #800000;">"</span>&gt;我是导航条&lt;/h1&gt;
<span style="color: #008080;"> 9</span> &lt;hr&gt;
<span style="color: #008080;">10</span> &lt;/body&gt;
<span style="color: #008080;">11</span> &lt;/html&gt;</pre>
</div>
<p>　　然后在需要添加导航条的页面，找一个相应的位置添加代码：</p>
<div class="cnblogs_code">
<pre><code>{% include <span style="color: #800000;">'</span><span style="color: #800000;">daohangtiao.html</span><span style="color: #800000;">'</span> %}</pre>
</div>
<p>　　效果图：</p>
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="./images/母版和继承的使用以及组件的使用1.png" alt="" /></p>
<p>&nbsp;</p>
</div>
</div><hr><script charset='utf-8' src='../../js/sming.js'></script></body></html>